#!/usr/bin/make -f

ARTIFACTS ?= .
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

build/python-pyutil::
	pyflakes pyutil
	python-coverage run --branch --include=pyutil/* setup.py trial
	python-coverage html -d $(ARTIFACTS)/htmlcov
