body {
    font-size: 80%;
    color: white;
}
h1 {
    background-color: #090;
    padding: 0.25em;
    border-radius: 0.5em;
}
div#content {
    background-color: #090;
    padding: 0.5em;
    border-radius: 1em;
}
table {
    border-collapse: collapse;
}
thead th {
    padding: 0 1em;
    font-weight: bold;
}
tbody {
    font-size: 80%;
}
tbody tr:nth-child(even) {
    background: #6c6;
}
td.left {
    text-align: left;
}
td.right {
    text-align: right;
}

