body {
    color: black;
    background-color: white;
    font-size: 80%;
}
table {
    border-collapse: collapse;
    border-bottom: 2px solid black;
}
thead {
    color: white;
    background-color: black;
    font-weight: bold;
}
thead th {
    padding: 0 1em;
}
tbody {
    font-size: 80%;
}
tbody tr:nth-child(even) {
    background: #eee;
}
td.left {
    text-align: left;
}
td.right {
    text-align: right;
}

